# Tema 3: Entrega práctica - Estudio final preprocesado

### Autor: Juan José Méndez Torrero

### Asignatura: Procesamiento y Visualización de Datos

El estudio debe contener:

1. Una introducción explicando de qué son los datos con los que se va a trabajar y la motivación por la que se han elegido. En el curso hemos visto algunas fuentes de datos, quizá más de tipo investigación, pero hay muchísimas más, por ejemplo, pueden usarse datos de alguno de los portales de open data.
2. Una explicación y el código de cómo se ha hecho la carga y/o extracción de los datos
3. Una explicación y el código del análisis preliminar de los datos incluyendo al menos dos de las siguientes cuestiones:
    - Una descripción de las características con sus medidas básicas
    - Comentar las posibles correlaciones entre las características
    - Analizar la distribución de las características
    - Detectar si hay anomalías en los datos
4. El código y la explicación de lo que se ha hecho para crear una versión de los datos con:
    - todas las características continuas transformadas al intervalo [0,1]
    - todas las características categóricas binarizadas con one hot encoding.
    - imputación de los valores perdidos (si los hay) con el método que se estime oportuno.
5. Aplicación de algun/os método/s de selección de características y comentario de los resultados.

# Elección de datos

1. https://www.openml.org/d/1483

Columnas:
- V1: Sequence Name {A01,A02,A03,A04,A05,B01,B02,B03,B04,B05,C01,C02,C03,C04,C05,D01,D02,D03,D04,D05,E01,E02,E03,E04,E05} (Nominal)  - A, B, C, D, E = 5 people  
- V2: Tag identificator {010-000-024-033,020-000-033-111,020-000-032-221,010-000-030-096} (Nominal)  - ANKLE_LEFT = 010-000-024-033  - ANKLE_RIGHT = 010-000-030-096  - CHEST = 020-000-033-111  - BELT = 020-000-032-221  
- V3: timestamp (Numeric) all unique  4) date FORMAT = dd.MM.yyyy HH:mm:ss:SSS (Date)  5) x coordinate of the tag (Numeric)  6) y coordinate of the tag (Numeric)  7) z coordinate of the tag (Numeric) 

Clases:
- Walking 0,
- Falling 1,
- Lying down 2,
- Lying 3,
- Sitting down 4,
- Sitting 5,
- Standing up from lying 6,
- On all fours 7,
- Sitting on the ground 8,
- Standing up from sitting 9,
- Standing up from sitting on the ground 10

#### Importamos las librerías necesarias

In [4]:
from sklearn import datasets
import pandas as pd

#### Descargamos el dataset deseado

In [ ]:
data = datasets.fetch_openml('ldpa', as_frame=True)

#### Agrupamos los datos para poder procesarlos

In [14]:
x = pd.DataFrame(data["data"], columns=data["feature_names"])

x["activity"] = data["target"]

x

       V1 V2        V3        V4        V5        V6        V7 activity
0       1  1  105794.0  105777.0  148933.0  108479.0  109365.0        3
1       1  4  105795.0  105778.0  155325.0   96952.0  161363.0        3
2       1  3  105796.0  105779.0  156652.0  101610.0  148870.0        3
3       1  1  105797.0  105780.0  149736.0  107135.0  102479.0        3
4       1  2  105798.0  105781.0  155978.0  125455.0  106203.0        3
...    .. ..       ...       ...       ...       ...       ...      ...
164855  5  2   43687.0   43679.0  106611.0  123166.0   12432.0        3
164856  5  1   43688.0   43680.0  120821.0  119848.0   87463.0        3
164857  5  4   43689.0   43681.0  104999.0  110823.0  161536.0        3
164858  5  2   43690.0   43682.0  102191.0  112520.0   10811.0        3
164859  5  1   43691.0   43683.0  106656.0  113422.0   80572.0        3

[164860 rows x 8 columns]

In [8]:
x.describe()

,V3,V4,V5,V6,V7
count,164860.000000,164860.000000,164860.000000,164860.000000,164860.000000
mean,82429.684963,82416.606709,81955.863757,81869.990641,82270.715601
std,47590.865917,47583.958210,47231.430616,47224.778310,47463.953329
min,1.000000,1.000000,1.000000,1.000000,1.000000
25%,41214.750000,41206.750000,41109.750000,41000.750000,41187.750000
50%,82429.500000,82415.500000,81984.500000,81844.500000,82287.500000
75%,123644.250000,123626.250000,122807.250000,122782.250000,123361.250000
max,164859.000000,164834.000000,163802.000000,163689.000000,164482.000000